mat-toolbar {
    h1 {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: vazir;
        margin-left: .5rem;
        margin-right: .5rem;

        mat-icon {
            font-weight: 900;
        }
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.button {
    display: flex;
    gap: 1rem;

    button {
        font-size: 1rem;
        font-family: vazir;
        font-weight: 500;
    }
}

::ng-deep .mat-menu {
    .user-info {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 2rem;

        * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .email {
            color: gray;
        }

    }

    .logout {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}